<?xml version="1.0"?>
<robot>

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="surgical gray">
    <color rgba="0.67 0.65 0.64 1.0" />
  </material>

  <material name="slate">
    <color rgba="0.2 0.2 0.2 1"/>
  </material>

  <material name="gray">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>

</robot>
