<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find davinci_description)/launch/visualize_in_rviz.launch" />

    <!-- Send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

</launch>